@layer base {
  span {
    @apply text-gold font-bold;
  }

  html, body {
    @apply scroll-smooth;
    @apply overflow-x-hidden;
    @apply h-full;
    @apply scroll-mt-24;
    @apply scrollbar-thin scrollbar-thumb-gold scrollbar-track-midnight; /* Estilo da barra de rolagem */
  }

  [id] {
    @apply scroll-mt-16;
  }
}